In [164]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [165]:
df = pd.read_table("all_table_definitions.txt", delimiter="|", encoding= 'unicode_escape')

In [166]:
df.rename(columns=lambda x: x.strip(), inplace=True)

In [167]:
new = df[df['Field Name'].str.contains('Table     :')]['Field Name'].str.split(' ', expand=True)[6]
index= new.index.values
df1= df.copy()
df1['Table Name'] = np.NaN
df1.loc[index, ['Table Name']] = new.values
df1['Table Name'].fillna(method='ffill', inplace=True)
df1.head()

,Field Name,Description,Domain,Datatype Physic.,Mand.,Acti,Refer. Reference,Table Name
0,,...,,length,,,Table Mode,NaN
1,---------------+------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1 indt,...,tcdate,UTC Date/T 4,No,Yes,Not applicab,NaN
3,2 dsca,...,tcmcs.str50m,Multibyte 200,No,Yes,Not applicab,NaN
4,3 wfrc,...,asint.wfld,0,No,Yes,Not applicab,NaN

In [168]:
new1 = df1[df1['Field Name'].str.contains('Delete Reference Message')]['Field Name'].str.split(' ', expand=True)[8]
index1= new.index.values
df2= df1.copy()
df2['VCR'] = np.NaN
df2.loc[index1, ['VCR']] = new1.values
df2['VCR'].fillna(method='ffill', inplace=True)
df3 = df2[df2['VCR'] == '107U0']
df3.head()

,Field Name,Description,Domain,Datatype Physic.,Mand.,Acti,Refer. Reference,Table Name,VCR
22,Table : asint000 ...,NaN,NaN,NaN,NaN,NaN,NaN,asint000,107U0
23,VRC : 107U0 a000 (Update) ...,NaN,NaN,NaN,NaN,NaN,NaN,asint000,107U0
24,...,NaN,NaN,NaN,NaN,NaN,NaN,asint000,107U0
25,----------------------------------------------...,NaN,NaN,NaN,NaN,NaN,NaN,asint000,107U0
26,Field Name,Description ...,Domain,Datatype Physic.,Mand.,Acti,Refer. Reference,asint000,107U0

In [169]:
table_names = ['ttccom001100', 'ttcmcs002100', 'ttcmcs010100', 'ttcmcs015100', 'ttcmcs023100', 'ttiedm010100', 'ttiedm100100', 'ttiedm110100']
table_name = [name[1:] for name in table_names]
table_name = [names[:-3] for names in table_name]
table_name

['tccom001',
 'tcmcs002',
 'tcmcs010',
 'tcmcs015',
 'tcmcs023',
 'tiedm010',
 'tiedm100',
 'tiedm110']

In [170]:
appended_data = []
table_data = []
for name in table_name:
    try:
        newdf = df3[df3['Table Name'].str.contains(name)].dropna(subset=['Field Name','Description'])
        list_numbers = str([1, 2, 3, 4, 5, 6, 7, 8, 9])
        newdf1 = newdf[newdf['Field Name'].str.strip().astype(str).str.startswith(tuple(list_numbers))]
        newdf1['Field Name'] = newdf1['Field Name'].str.split(' ', expand=True, n=3)[3].str.strip()
        nan_value = float("NaN")
        newdf1.replace("", nan_value, inplace=True)
        newdf1.dropna(subset = ["Field Name"], inplace=True)
        newdf1['Description'] = newdf1['Description'].str.split('(', expand=True, n=1)[0].str.strip()
        newdf1['Datatype'] = newdf1['Datatype     Physic.'].str.split(' ',  expand=True, n=1)[1].str.split('  ',  expand=True, n=1)[0]
        newdf1['Physic.'] = newdf1['Datatype     Physic.'].str.split(' ',  expand=True, n=1)[1].str.split('  ',  expand=True, n=1)[1]
        appended_data.append(newdf1)
        table_data.append(name)
    except ValueError: 
        print("A ValueError occurred")
    except:
        print(name, "does not have any information" )
appended_data = pd.concat(appended_data)
appended_data.drop('Datatype     Physic.', axis=1, inplace=True)
print(table_data, "does have information")
appended_data

tcmcs015 does not have any information
['tccom001', 'tcmcs002', 'tcmcs010', 'tcmcs023', 'tiedm010', 'tiedm100', 'tiedm110'] does have information

,Field Name,Description,Domain,Mand.,Acti,Refer. Reference,Table Name,VCR,Datatype,Physic.
111763,emno,Employee,tcemno,Yes,Yes,Not applicab,tccom001,107U0,String,9
111764,nama,Name,tcnama,No,Yes,Not applicab,tccom001,107U0,Multibyte,140
111765,namb,Given Name,tccom.name,No,Yes,Not applicab,tccom001,107U0,Multibyte,200
111766,namc,Middle Name,tccom.name,No,Yes,Not applicab,tccom001,107U0,Multibyte,200
111767,namd,Last Name,tccom.name,No,Yes,Not applicab,tccom001,107U0,Multibyte,200
...,...,...,...,...,...,...,...,...,...,...
293570,usup,Use Up Materials Present,tcyesno,Yes,Yes,Not applicab,tiedm110,107U0,Enumerated,1
293571,rdsp,Reference Designators Present,tcyesno,Yes,Yes,Not applicab,tiedm110,107U0,Enumerated,1
293572,cmba,Combined E-Item & Revision & Positions,,,,Not applicab,tiedm110,107U0,,
293576,cmbb,Combined of E-Item & Revision,,,,tiedm100 Mandatory,tiedm110,107U0,,
293579,txta,E-BOM Text,tctxtn,No,Yes,tttxt001 Mandatory un,tiedm110,107U0,Text,4

In [171]:
ln_site = str(table_names[1][-3:])
dic = {}
for data in table_data:
    databs = appended_data[['Field Name', 'Description','Table Name']]
    databs['Field Name'] = 'T_' + databs['Field Name'].astype(str).str.upper()
    newdata = databs[databs['Table Name'] == data]
    newdata['Description'] = newdata['Description'].str.replace(" ", "_")
    newdata['Name'] =  newdata['Field Name'] + ' AS '   + newdata['Description'].str.lower() + '_' +newdata['Field Name'].str.split('T_', expand=True)[1]
    names = list(newdata['Name'])
    new_name =   ',\n'.join(names) 
    table_name = data
    source_dataset = 's-bicloud-curated-0001-p.ln_{}'.format(ln_site)
    destination_dataset = 's-finance-dev-0001-s.cons_LN'
    query_text_start = f"CREATE OR REPLACE VIEW '{destination_dataset}.{table_name}{ln_site}' AS \n"
    # We could append the human-readable site name to the table name but I couldn't find that list
    final_query = query_text_start + f"SELECT\n{new_name}\nFROM'{source_dataset}.{table_name}{ln_site}'"
    dic[data] = final_query
print(dic['tccom001'])

CREATE OR REPLACE VIEW 's-finance-dev-0001-s.cons_LN.tccom001100' AS
SELECT
T_EMNO AS employee_EMNO,
T_NAMA AS name_NAMA,
T_NAMB AS given_name_NAMB,
T_NAMC AS middle_name_NAMC,
T_NAMD AS last_name_NAMD,
T_SEAK AS search_key_SEAK,
T_CWOC AS department_CWOC,
T_CLRT AS labor_rate_CLRT,
T_CPCP AS cost_component_CPCP,
T_CLAN AS language_CLAN,
T_CCAL AS calendar_code_CCAL,
T_LOCO AS logon_code_LOCO,
T_IMAG AS picture_IMAG,
T_GUID AS guid_GUID,
T_CTIT AS title_CTIT
FROM's-bicloud-curated-0001-p.ln_100.tccom001100'